.timer-button-row {
  justify-content: space-between;
  width: 400px;
}
.timer-main {
  justify-content: end;
}
.reset-button,
.start-button,
.stop-button {
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.start-button {
  background-color: green;
  /* color: green; */
}
.stop-button {
  background-color: red;
  /* color: red; */
}
.reset-button {
  background-color: blue;
  /* color: blue; */
}
.clock {
  font-size: 60px;
  margin: 20px;
  color: black;
}
