.app-main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.app-component {
  margin-bottom: 30px;
}
.report-button {
  background-color: #579df4;
  color: white;
  padding: 20px;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px black;
  cursor: pointer;
}
.download-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.285);
  font-size: 50px;
  cursor: pointer;
  color: black;
  margin-left: 20px;
}
